*.pyc
dist/
*.egg-info/
env
venv/
.idea/
history/
results/
logs/
openPositions/
dashboard.json
positionHistory/
*.tpl.js
volubaFE/*.json
volubaFE/data/
exports/
ta-lib/
settings/cryptobot.json
settings/defaults.json
pybit.log
.DS_store
backtest_v2.py

ta-lib-python

settings/
